#bannerZone,
#bannerImg {
    max-height: 300px;
    width: 100%;
    position: relative;
}

.emptyDiv {
    height: 50px;
}
#auth {
    list-style-type: none;
}
#userName {
    color: white;
    margin-top: 10px;
}
#teamTitle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #CACDCC;
    text-shadow: 5px 5px 7px #52A2D2;
}

#teamTitle span {
    font-size: 0.5em;
    color: #CACDCC;
}

body {
    background-image: linear-gradient( to right, #081C48, #52A2D2, #CACDCC, #52A2D2, #081C48);
    background-repeat: repeat;
    background-size: cover;
}

#movieDetails {
    width: 75%;
    border: 1px solid #081C48;
    box-shadow: 5px 5px 7px #154D78;
    border-radius: 10px;
    margin: 20px auto;
    overflow: auto;
    background-color: #CACDCC;
}

#EditmovieDetails {
    width: 75%;
    border: 1px solid #081C48;
    box-shadow: 5px 5px 7px #154D78;
    border-radius: 10px;
    margin: 20px auto;
    overflow: auto;
    background-color: #CACDCC;
}

#newtitle {
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: #aad6ee;
    background-color: white;
    margin: 30px 10px;
    text-align: center;
}

.newtitle {
    display: flex;
    justify-content: center;
}

#editpart1 {
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
}

#editpart2 {
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
}

.editinput {
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: #aad6ee;
    background-color: white;
    margin: 5px 10px;
    width: 50%;
}

#editpart1 label,
#editpart2 label {
    margin: 0;
    padding: 0;
    padding-top: 0.4em;
    padding-right: 0.25em;
    width: 10em;
    text-align: right;
    float: left;
    font-weight: bolder;
    color: #4d4d4d;
}

#editVotes-Rating {
    float: right;
}

#editLabel {
    display: inline-block;
    width: 100px;
    color: #C8C8CD;
}

#image {
    float: right;
    padding: 0 15px 0 15px;
}

#image #poster {
    max-width: 100%;
    height: auto;
}

p,
li {
    color: #154D78;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#title,
p#year {
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 10px;
    color: #52A2D2;
}

.info {
    background-color: #081C48;
    margin-bottom: 10px;
}

p#year {
    color: silver;
    font-size: 1.3em;
    margin-left: 0;
    margin-top: 15px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
}

p#released,
p#genre,
p#runtime {
    padding: 0 10px 0 0;
    font-size: 0, 6em;
    color: silver;
    margin: 0;
}

p#released {
    padding-left: 10px;
}

p#genre {
    border-right: 2px solid #737373;
    border-left: 2px solid #737373;
    padding-left: 10px;
}

p#imdbRating {
    margin: 15px 5px 0 5px;
    border-right: 2px solid #737373;
    padding: 0 10px 0 10px;
    float: right;
    font-size: 0, 5em;
    color: silver;
}

p#imdbVotes {
    margin: 18px 5px 0 5px;
    float: right;
    text-align: center;
    font-size: 0, 3em;
    color: silver;
}

label {
    font-weight: bolder;
    color: #4d4d4d;
}

#ratingLabel {
    margin-left: 20px;
}

#editMovie,
#deleteMovie,
#saveEditMovie,
#close {
    width: 100px;
    height: 38px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btns {
    text-align: center;
}

@media (max-width: 1240px) {
    p#imdbVotes {
        clear: left;
        float: left;
        border-left: none;
        margin-left: 10px;
        margin-bottom: 20px;
        padding-left: 0;
    }
    p#imdbRating {
        float: left;
        margin-bottom: 20px;
        border-left: 2px solid #737373;
    }
    #editpart1, #editpart2 {
        width: 90%;
    }
    .editinput {
        width: 65%;
    }
}

@media (max-width: 768px) {
    #movieDetails {
        width: 90%;
    }
    #image {
        float: none;
        text-align: center;
    }
    .text {
        text-align: center;
    }
    #editpart1, #editpart2 {
        width: 90%;
        margin: 5px;
        padding: 5px;
    }
    .editinput {
        width: 70%;
    }
    #editpart1 label, #editpart2 label {
        width: 6em;
        text-align: right;
    }
}

#emptyDiv {
    height: 30px;
}

.displayNone {
    display: none;
}

footer {
    height: 100px;
    background-color: #091C47;
    color: white;
    text-align: center;
}

a:hover {
    color: white;
}

#footerMsg {
    color: white;
    text-align: center;
}