#bannerZone,
#bannerImg {
    max-height: 300px;
    width: 100%;
    position: relative;
}

.emptyDiv {
    height: 50px;
}

#paginationButtons {
    margin: auto;
    width: 20%;
}

#paginationButtons .btn-primary {
    width: 120px;
}

#movieList {
    margin: auto;
    width: 60%;
}

#auth {
    list-style-type: none;
}

#authError {
    color: red;
}

#teamTitle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #CACDCC;
    text-shadow: 5px 5px 7px #52A2D2;
}

#teamTitle span {
    font-size: 0.5em;
    color: #CACDCC;
}

body {
    background-image: linear-gradient( to right, #081C48, #52A2D2, #CACDCC, #52A2D2, #081C48);
    background-repeat: repeat;
    background-size: cover;
}

#advanceLink {
    display: block;
}

#inputContainer {
    display: none;
    width: 50%;
    border: 2px solid #081C48;
    border-radius: 5px;
    padding: 20px;
    background-color: #081C48;
    margin: 0 auto 20px auto;
}

.text {
    margin: 0;
    padding: 0;
    display: block;
}

#inputContainer label {
    margin: 0;
    padding: 0;
    padding-top: 0.4em;
    padding-right: 0.25em;
    width: 10em;
    text-align: right;
    float: left;
    color: white;
}

#searchInput {
    margin-right: 0;
}

.searchInput {
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: white;
    background-color: white;
    margin: 5px 10px;
    width: 50%;
}

button#submitSearch {
    width: 100px;
    height: 38px;
    margin-top: 10px;
}

#parentButton {
    text-align: center;
}

section#movieList {
    width: 100%;
}

#movieList article {
    width: 60%;
    display: block;
    margin: 20px auto;
    border: 1px solid #081C48;
    box-shadow: 5px 5px 7px #154D78;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #081C48;
    overflow: auto;
}

#movieList img {
    max-width: 30%;
    height: auto;
    float: left;
    margin: 5px 25px 10px 0;
}

#details {
    width: 100px;
    float: right;
    margin: 0 30px 10px 10px;
}

.displayNone {
    display: none;
}
#searchInput {
    max-width: 85%;
}
@media (max-width: 768px) {
    #inputContainer {
        margin-left: auto;
        width: 80%;
    }
    .searchInput {
        width: 70%;
    }
    .text {
        text-align: center;
    }
    #inputContainer label {
        width: 6em;
        text-align: left;
    }
    #movieList img {
        max-width: 50%;
        margin: 10px auto;
        height: auto;
        float: none;
    }
    #movieList article {
        width: 70%;
        height: auto;
        text-align: center;
    }
    #details {
        float: none;
    }
    h6 {
        text-align: justify;
        margin-left: 20px;
    }
}

footer {
    height: 100px;
    background-color: #091C47;
    color: white;
    text-align: center;
}

a:hover {
    color: white;
}

#logout {
    max-width: 100px;
}
